$theme-map: null !default;
$font-family-inter: var(--font-inter);
$typography: (
    font-family: $font-family-inter,
    font-sizes: (
        xs: 0.75rem,
        sm: 0.875rem,
        base: 1rem,
        md: 1.125rem,
        lg: 1.25rem,
        xl: 1.5rem,
        xxl: 2.25rem,
        xxxl: 3.5rem
    ),
    font-weight:(
        normal:400,
        medium:500,
        semi-bold:600,
        bold:700,
        extra-bold:800,
        double-extra-bold:900
    )
) !default;

$themes: (
    light: (
        primary-color: #00D1FF,
        secondary-color: #9945FF,
        tertiary-color: #9A9B9E,
        quaternary-color: #ffffff,
        quinary-color:#1A1A1A,
        surface-low:#121212,
        surface-lowest:#292828
    ),
    dark: (
        primary-color: #00D1FF,
        secondary-color: #9945FF,
        tertiary-color: #9A9B9E,
        quaternary-color: #ffffff,
        quinary-color:#1A1A1A,
        senary-color: rgba(#ffffff, 70%),
        septenary-color:rgba(#ffffff, 10%),
        surface-low:#121212,
        surface-lowest:#292828,
        surface-high:#090909,
        border-color:#2C2E33,
        black-secondary:#131313,
        sidebar-bg:#010101,
        dashboard-bg: #0E0E0E,
        text-light:#E6E6E6,
        alert:#EA3943,
        text-dark:rgba(255, 255, 255, 0.70),
        warning:#F3ED6F,
        input-bg:#0F1011
    )
) !default;